.btn-input {
    cursor: pointer;
    padding: 6px 16px;
    background: #2a724c;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

.table-row {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    cursor:pointer;
}