.btn-import {
    cursor: pointer;
    background: #556ff6;
    color: antiquewhite;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
}

.table-row {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    cursor: pointer;
}


.row-2 {
    font-weight: 400;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.btn-content {
    padding: 6px 16px;
    width: 80px;
    text-align: center;
    background: #556ff6;
    color: antiquewhite;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

/* drop down */
.dropbtn {
    background: #e0e7fe;
    color: #556ff6;
    font-weight: 600;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover,
.dropbtn:focus {
    opacity: 0.9;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: -5px;
    right: 120px;
    min-width: 300px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content div {
    font-size: 13px;
    background-color: #fafcfe;
    color: #0a0000d1;
    padding: 6px 12px;
    font-weight: 500;
    width: auto;
    cursor: pointer;
    border: 1px solid #778df08f;
    border-radius: 5px;
    margin-right: 16px;
    margin-top: 8px;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: flex;
}

/* end drop down */